#ifndef VARS_CONFIG_H
#define VARS_CONFIG_H

#define DHT11_PIN GPIO_NUM_4

#define WIFI_SSID "Casa_do_Batman"
#define WIFI_PASS "Julinho2.0"

#define MQTT_BROKER_URI "mqtt://test.mosquitto.org"
#define MQTT_TEMPERATURE_TOPIC "mestrado/iot/aluno/isabella/temperatura"
#define MQTT_HUMIDITY_TOPIC "mestrado/iot/aluno/isabella/umidade"

#endif // VARS_CONFIG_H